<main class="container">
  <!--<a routerLink="/add">-->
  <button [routerLink]="['/add']" mat-flat-button color="accent" class="ajouterBtn">
    Ajouter Devoir
  </button>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-list *ngFor="let assignment of assignments" #assignments>
    <a routerLink="/assignement/{{ assignment.id }}">
      <mat-list-item [ngClass]="{ rendu: assignment.rendu, nonRendu: !assignment.rendu }">
        <p *ngIf="assignment.rendu; else nonSoumis">
          {{ assignment.nom }}
        </p>
        <ng-template #nonSoumis>
          <p>Le devoir {{ assignment.nom }}</p>
        </ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
    </a>
  </mat-list>
</main>